__pycache__/camera_sales.cpython-312.pyc
test/__pycache__/__init__.cpython-312.pyc
test/__pycache__/camera_sales_test.cpython-312.pyc
__pycache__/lucky_sum.cpython-312.pyc
test/__pycache__/lucky_sum_test.cpython-312.pyc
